<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Загрузка фото</title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*">
    <button type="submit">Загрузить</button>
</form>

<form th:action="@{/test}" method="get">
    <label for="id">Введите ID фотографии:</label>
    <input type="number" id="id" name="id" required>
    <button type="submit">Найти</button>
</form>

<div th:if="${photo_byId}">
    <h2>Результат:</h2>
    <p><b>ID:</b> <span th:text="${photo_byId.get().id}"></span></p>
    <img th:src="${image}" alt="Фотография">
</div>

<img th:src="${imagePath}" alt="Uploaded Image">
</body>
</html>